/* Global */
body {
  margin: 0;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

section {
  padding: 120px 0;
}

.section-title {
  margin-bottom: 0;
  font-size: 30px;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: bold;
  color: #222222;
}

.section-subtitle {
  font-size: 14px;
  color: #777777;
}

.box-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  font-size: 12px;
  color: #777777;
}

/* Header */
.header {
  height: 700px;
  width: 100%;
  background-image: url("https://i.ibb.co/k8tTGYp/background-image.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.4;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.navigation h3 {
  font-size: 28px;
  color: #fed136;
  margin-top: 0;
  margin-left: 7px;
  z-index: 1;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  z-index: 1;
}

.navigation ul li {
  display: inline-block;
  font-variant: small-caps;
  text-transform: uppercase;
  font-size: 15px;
  margin-right: 35px;
}

.header-inner {
  margin-top: 200px;
  color: white;
  position: relative;
}

.header-inner .header-subtitle {
  font-size: 38px;
  margin-bottom: 20px;
}

.header-inner .header-title {
  font-size: 57px;
  font-variant: small-caps;
  margin-top: 0;
  margin-bottom: 70px;
}

.header-inner .btn {
  background: #fed136;
  font-size: 14px;
  font-variant: small-caps;
  text-transform: uppercase;
  padding: 25px 50px;
  border-radius: 3px;
  font-weight: bolder;
}

/* Services */
.services .row {
  margin-top: 80px;
}

.services i {
  color: #fed136;
  border: 3px #fed136 solid;
  border-radius: 50%;
  padding: 15px;
  font-size: 34px;
}

/* Portfolio */
.portfolio {
  background: #f7f7f7;
}

.portfolio .row {
  margin-top: 80px;
}

.portfolio .portfolio-description {
  background: #fff;
  padding: 28px 0;
}

.portfolio .portfolio-description p {
  margin-top: 0;
}

.portfolio .portfolio-img {
  width: 290px;
  height: 300px;
}

.portfolio .portfolio-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Footer */
.footer {
  padding: 40px 0;
}

.footer p {
  text-align: left;
  font-weight: bold;
}

.footer ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

.footer li {
  display: inline-block;
}

.footer a {
  font-size: 0;
}

.footer i {
  font-size: 22px;
  background: #222222;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px 12px 14px 10px;
}

.footer i:hover {
  color: #000;
}

.footer .fa-twitter:hover {
  background: #00aced;
}

.footer .fa-facebook-f:hover {
  background: #3b5998;
}

.footer .fa-pinterest-p:hover {
  background: #cb2028;
}

.footer .fa-google-plus-g:hover {
  background: #da2713;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxXQUFBO0FBRUE7RUFDQyxTQUFTO0VBQ04sa0JBQWtCO0FDQXRCOztBREdBO0VBQ0ksWUFBWTtFQUNaLHFCQUFxQjtBQ0F6Qjs7QURHQTtFQUNJLGdCQUFnQjtBQ0FwQjs7QURHQTtFQUNJLGdCQUFnQjtFQUNoQixlQUFlO0VBQ2Ysd0JBQXdCO0VBQ3hCLHlCQUF5QjtFQUN6QixpQkFBaUI7RUFDakIsY0FBYztBQ0FsQjs7QURHQTtFQUNJLGVBQWU7RUFDZixjQUFjO0FDQWxCOztBREdBO0VBQ0ksZUFBZTtFQUNmLGlCQUFpQjtFQUNqQixnQkFBZ0I7QUNBcEI7O0FER0E7RUFDSSxlQUFlO0VBQ2YsY0FBYztBQ0FsQjs7QURJQSxXQUFBO0FBRUE7RUFDSSxhQUFhO0VBQ2IsV0FBVztFQUNYLHNFQUFzRTtFQUN0RSxzQkFBc0I7RUFDdEIsNEJBQTRCO0VBQzVCLFdBQVc7RUFDWCxrQkFBa0I7QUNGdEI7O0FETEE7RUFTUSxrQkFBa0I7RUFDbEIsTUFBTTtFQUNOLE9BQU87RUFDUCxXQUFXO0VBQ1gsWUFBWTtFQUNaLFdBQVc7RUFDWCxpQkFBaUI7RUFDakIsWUFBWTtBQ0FwQjs7QURJQTtFQUNJLGFBQWE7RUFDaEIsOEJBQThCO0VBQzNCLGlCQUFpQjtBQ0RyQjs7QURGQTtFQU1RLGVBQWU7RUFDZixjQUFjO0VBQ2QsYUFBYTtFQUNiLGdCQUFnQjtFQUNoQixVQUFVO0FDQWxCOztBRFZBO0VBY1EscUJBQXFCO0VBQ3JCLFNBQVM7RUFDVCxVQUFVO0FDQWxCOztBRGhCQTtFQWtCWSxxQkFBcUI7RUFDckIsd0JBQXdCO0VBQ3hCLHlCQUF5QjtFQUN6QixlQUFlO0VBQ2Ysa0JBQWtCO0FDRTlCOztBREdBO0VBQ0ksaUJBQWlCO0VBQ2pCLFlBQVk7RUFDWixrQkFBa0I7QUNBdEI7O0FESEE7RUFNUSxlQUFlO0VBQ2YsbUJBQW1CO0FDQzNCOztBRFJBO0VBV1EsZUFBZTtFQUNmLHdCQUF3QjtFQUN4QixhQUFhO0VBQ2IsbUJBQW1CO0FDQzNCOztBRGZBO0VBa0JPLG1CQUFtQjtFQUNuQixlQUFlO0VBQ2Ysd0JBQXdCO0VBQ3hCLHlCQUF5QjtFQUN6QixrQkFBa0I7RUFDbEIsa0JBQWtCO0VBQ2xCLG1CQUFtQjtBQ0MxQjs7QURJQSxhQUFBO0FBRUE7RUFFUSxnQkFBZ0I7QUNIeEI7O0FEQ0E7RUFNUSxjQUFjO0VBQ2QseUJBQXlCO0VBQ3pCLGtCQUFrQjtFQUNsQixhQUFhO0VBQ2IsZUFBZTtBQ0h2Qjs7QURRQSxjQUFBO0FBRUE7RUFDSSxtQkFBbUI7QUNOdkI7O0FES0E7RUFJUSxnQkFBZ0I7QUNMeEI7O0FEQ0E7RUFRUSxnQkFBZ0I7RUFDaEIsZUFBZTtBQ0x2Qjs7QURKQTtFQVdZLGFBQWE7QUNIekI7O0FEUkE7RUFnQlEsWUFBWTtFQUNaLGFBQWE7QUNKckI7O0FEYkE7RUFtQlksV0FBVztFQUNYLFlBQVk7RUFDWixvQkFBaUI7S0FBakIsaUJBQWlCO0FDRjdCOztBRFFBLFdBQUE7QUFDQTtFQUNJLGVBQWU7QUNMbkI7O0FESUE7RUFJUSxnQkFBZ0I7RUFDaEIsaUJBQWlCO0FDSnpCOztBRERBO0VBU1EsU0FBUztFQUNULGVBQWU7RUFDZixxQkFBcUI7RUFDckIsa0JBQWtCO0FDSjFCOztBRFJBO0VBZ0JRLHFCQUFxQjtBQ0o3Qjs7QURaQTtFQW9CUSxZQUFZO0FDSnBCOztBRGhCQTtFQXdCUSxlQUFlO0VBQ2YsbUJBQW1CO0VBQ25CLFdBQVc7RUFDWCxZQUFZO0VBQ1osa0JBQWtCO0VBQ2xCLDRCQUE0QjtBQ0pwQzs7QUR6QkE7RUErQlksV0FBVztBQ0Z2Qjs7QUQ3QkE7RUFvQ1EsbUJBQW1CO0FDSDNCOztBRGpDQTtFQXdDUSxtQkFBbUI7QUNIM0I7O0FEckNBO0VBNENRLG1CQUFtQjtBQ0gzQjs7QUR6Q0E7RUFnRFEsbUJBQW1CO0FDSDNCIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */