/* Global */

body {
	margin: 0;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
        } 

section {
    padding: 120px 0;
}

.section-title {
    margin-bottom: 0;
    font-size: 30px;
    font-variant: small-caps;
    text-transform: uppercase;
    font-weight: bold;
    color: #222222;
}

.section-subtitle {
    font-size: 14px;
    color: #777777;
}

.box-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

p {
    font-size: 12px;
    color: #777777;
}


/* Header */

.header {
    height: 700px;
    background-image: url('https://i.ibb.co/k8tTGYp/background-image.jpg');
    background-size: cover; 
    background-attachment: fixed;
    color: #fff;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        background: black;
        opacity: 0.3;
    }
 }

.navigation {
    display: flex;
	justify-content: space-between;
    padding-top: 50px;
    
    h3 {
        font-size: 28px;
        color: #fed136;
        margin-top: 0;
        margin-left: 7px;
        z-index: 1;
    }
        
    ul {
        list-style-type: none;
        margin: 0; 
        z-index: 1;
        li {
            display: inline-block;
            font-variant: small-caps;
            text-transform: uppercase;
            font-size: 15px;
            margin-right: 35px;
        }
    }
}

.header-inner {
    margin-top: 200px;
    color: white;
    
    .header-subtitle {
        font-size: 38px;
        margin-bottom: 20px;
    }

    .header-title {
        font-size: 57px;
        font-variant: small-caps;
        margin-top: 0;
        margin-bottom: 70px;
    }

    .btn {
       background: #fed136; 
       font-size: 14px;
       font-variant: small-caps;
       text-transform: uppercase;
       padding: 25px 50px;
       border-radius: 3px;
       font-weight: bolder;
    }
}


/* Services */

.services {
    .row {
        margin-top: 80px;
    }

    i {
        color: #fed136;
        border: 3px #fed136 solid;
        border-radius: 50%;
        padding: 15px;
        font-size: 34px;
    }
}


/* Portfolio */

.portfolio {
    background: #f7f7f7;

    .row {
        margin-top: 80px;
    }

    .portfolio-description {
        background: #fff;
        padding: 28px 0;
        p {
            margin-top: 0;
        }
    }

    .portfolio-img {
        width: 290px;
        height: 300px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    } 
}


/* Footer */
.footer {
    padding: 40px 0;

    p {
        text-align: left;
        font-weight: bold;
    }

    ul {
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        text-align: center;
    }

    li {
        display: inline-block;    
    }

    a {
        font-size: 0;
    }

    i {
        font-size: 22px;
        background: #222222;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px 12px 14px 10px;
        &:hover {
            color: #000;
        }
    }

    .fa-twitter:hover {
        background: #00aced;
    }

    .fa-facebook-f:hover {
        background: #3b5998;
    }

    .fa-pinterest-p:hover {
        background: #cb2028;
    }

    .fa-google-plus-g:hover {
        background: #da2713;
    }
}